
  /*font-family: "Martian Mono", monospace;
  font-family: "IBM Plex Mono", monospace;*/
/* NORMALIZACIÓN DEL PROYECTO (SETEAR CARACTERISTICAS)*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* mantiene el ancho y el alto del elemento a pesar del padding y el border*/
  font-family: "Martian Mono", monospace;
  list-style: none; /*quita los puntos a decoracion de las lineas*/
  text-decoration: none; /*quita el subrayado de los enlaces*/
  color: white;
}


body {
  background-color: black; /*todo borrar cuando tengamos el fondo negro*/

}
 
header {
  position: fixed; /*fija el header  fijo en la parte superior*/
  right: 0; /* se coloca en la derecha*/
  top: 0;
  z-index: 100; /* para que el header se muestre por encima*/
  width: 100%; /* para que ocupe todo el ancho */
  display: flex; /* hace que los elementos se coloquen en linea*/
  align-items: center; /* centra verticalmente los elementos */
  justify-content: space-between; /* hace que  los elementos se separen uno del otro*/
  padding: 15px 3%; 
  background-color: transparent;
}

.logo {
  font-size: 20px;
  font-weight: 800; /* grueso de la letra del logo*/
  color: #5f01f5ce;
}

.navList {
  display: flex; /*hace que los elementos se coloquen en línea horizontal*/
}

.navList a {
  margin-left: 104px; /* para separar las palabras */
  color: #5af501;
  font-size: 15px;
  font-weight: 500;
  border-radius: 2px solid transparent; /*subrayado transparente*/
  transition: all .5 ease; /*para que tome todas las caracteristicas de  navList y poder animar las listas*/
}

.navList a:hover {
  border-bottom: 2px solid   #5af501; /*subrayado que aparesca cuando toque el mouse la palabra en el navList*/
}

#menu-icon {
  display: none; /* para que cuando se achique o colapse la pantalla no se vea  el icon  */
}

#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 101; /* para que este por encima del header*/
  cursor: pointer; /* para que aparesca la manito*/
}

#menu-toggle {
  display: none; /* para que nunca se vea en el proyecto el checkboox*/
}

.menu-icon-toggle {
  display: block; /* para que nunca se le pueda hacer click al checkboox*/
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%); /* fondo de color gradiente */
  position: relative; /* para que sea relativo al contenedor( nos permite usar top, button, left y right */
  display: grid; /* para hacer una grilla  y la seccion hero se divida en 2 columnas */
  grid-template-columns: 1fr 1fr; /* las dos columnas */
  align-items: center; /* para alinear verticalmete la sección hero */
  gap: 2rem; /*para que existan 2 espacios entre las dos colunmnas */
 
}

.section {
  padding: 0 8%;
}

.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero-img {
  border-radius:  30%;
  width:  400px;
}

.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero-text h1 {
  font-family: "Martian Mono", monospace;
  font-size: 30px;
  line-height: 1;
  margin: 0 0 30px;
  color: #3601f5b9;
}

.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  color: #3601f5;
}

.hero-text p {
  font-size: 80%;
  margin-bottom: 40px;
  line-height: 1.9;
  color: #3601f5;
}

.hero-img img{
  width: 100%;
  border-radius: 30%;
  margin: 10% 0 0 10%;
  height: auto;
  transition: all 5s linear;
}

.hero-img img:hover {
  width: 450px;
  opacity: 0.6;
}

.hero-text a {
  display: inline-block;
  background-color: #4d4d4d;
  border: 1px solid transparent;
  padding: 15px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .5s ease;
}

.hero-text a:hover {
  background-color: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.hero-text a.video i {
  vertical-align: middle;
  margin-right: 5px;
}

.icons {
  
  position: absolute; 
  top: 35vh;
  padding: 0 3%;
  transform: translateY(-10%);
  transform: translateX(1150%);

}

.icons i {
  color: #5af501;
  display: block;
  margin: 36px 0;
  font-size: 24px;
  transition: all .5s ease;
}

.icons i:hover {
  color: #4d4d4d;
  transform: translateY(-5px);
}

.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 3%;
}

.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 25px;
  background-color: #21383d;
  border-radius: 30px;
  transition: all .5s ease;
}

.scroll-down i:hover {
  transform: translateY(-5px);
}

@media (max-width: 992px) { /*   xxxxxxxxxxxxxxxxxxxxxxxxx @media para 992px xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx     */
.section{
  padding: 0 3%;
  transition: .2s;
}

.icons {
  display: none;
}

.hero-text {
  padding-top: 0;
}

.hero-img {
  text-align: center;
}

.hero-img img {
  width: 80%;
  margin: 10% 0 0 10%;
}

.hero-text {
  font-size: 70%;
}

}

@media (max-width: 764px){ /*   xxxxxxxxxxxxxxxxxxxxxxxxx @media para 764px xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx     */

  .menu-icon-action{
      display: block;
  }

  #menu-icon{
      display: block;
  }

  .hero-text{
      text-align: center;
      padding-top: 100px;
  }

  .hero-img img {
      margin: 0;
  }

  .hero {
      height: 100%;
      gap: 1rem;
      grid-template-columns: 1fr;
  }

  .navlist{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 200px;
      height: 180px;
      background-color: #021719ef;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 20px;
      transition: all .5s ease-out;
  }

  .navlist a {
      display: block;
      margin: 7px 0;
  }

  #menu-toggle:checked + label.menu-icon-action + ul{
      right: 0;
  }


}













